/**
*
* Admin : divers custom
*
* Personnaliser en direct
* Posts
* Taxonomies
* ACF
* Navigation
*
**/


/*==============================
=            Global            =
==============================*/

#wpfooter { display: none; }


/*=====  FIN Global  =====*/

/*===============================================
=            Personnaliser en direct            =
===============================================*/

a[href*="customize.php"] { display:none !important; }


/*=====  FIN Personnaliser en direct  =====*/

/*=============================
=            Posts            =
=============================*/

// options d'écran
.metabox-prefs .view-mode { display: none; }
// thumbnail
table.wp-list-table .column-thumb {
    width: 50px;
    img {
        max-width: 40px;
        height: auto;
    }
}
// Page spéciales
.post-state { font-style: italic; }


/*=====  FIN Posts  =====*/

/*==================================
=            Taxonomies            =
==================================*/

// description par défaut
.term-description-wrap { display: none; }


/*=====  FIN Taxonomies  =====*/

/*===========================
=            ACF            =
===========================*/

.acf-input, .acf-label { 
    .description { font-style: italic; }
}

.acf-google-map {
    div.gmnoprint:has(button[title*="plan de ville"]),
    button.gm-fullscreen-control,
    button[title*="Pegman"] 
    {
        display: none;
    }
}


/*=====  FIN ACF  =====*/

/*==================================
=            Navigation            =
==================================*/

#nav-menus-frame {
    display: flex;
    gap: 20px;
    margin-left: 0;

    #menu-settings-column {
        float: none;
        flex: 1 0 340px;
        margin: 0;
    }
    #menu-management-liquid {
        float: none;
        min-width: auto;

        #post-body {
            padding: 0 20px;
        }
    }
}

// Afficher description et XFN
.nav-menus-php .metabox-prefs:nth-child(2) label:nth-child(n+5),
// Ajoutez automatiquement des pages
.auto-add-pages,
// onglets modifier/gérer
.nav-menus-php .nav-tab-wrapper {
    display: none;
}

/*=====  FIN Navigation  =====*/

/*==============================
=            Médias            =
==============================*/

// mention champs obligatoires
.media-types-required-info { display: none; }

// liste : filtre par type
#attachment-filter,
#media-attachment-filters {
    option:not([value=""]):not([value="all"]):not([value*="image"]):not([value*="pdf"]):not([value="mine"]) {
        display: none;
    }
}

// page de liste & page de modification
.post-type-attachment {
    
    // liste filtre rank math
    #media-attachment-seo-filter {
        max-width: 200px;
        option[value="missing_title"] { display: none; }
    }
    
    // liste : largeur colonne author 
    .fixed .column-author { width: 15%; }

    // page de modification : description
    label.attachment-content-description {
        display: none !important;
        & + div { display: none; }
    }
    // page de modification : aide saisie texte alternatif
    .attachment-alt-text-description { display: none; }
    // page de modification : légende pdf
    #post-body-content:has(img[src*="document.png"]) {
        .wp_attachment_details { display: none; }
    }
    // page de modification : mention publié dans
    #misc-publishing-actions .misc-pub-uploadedto { display:none; }
}

.media-modal {
    // aide saisie texte alternatif
    #alt-text-description { display: none; }
    // champ description
    [data-setting="description"] {display:none; }
    // champ url + copier
    [data-setting="url"] {display:none; }
    // liens d'actions
    .actions {
        // voir la page front
        .view-attachment { display: none; }
        // voir la page de modification
        a[href*="action=edit"] { display: none; }
        // séparateurs
        .links-separator:nth-last-of-type(n+2) { display:none; }
    }
}



/*=====  FIN Médias  =====*/

.user-is-editor {

    /*=================================
    =            Rank Math            =
    =================================*/

    .rank-math-tooltip:has([href*="score-100-in-tests"]), // aide mots clés
    .components-base-control:has([href*="pillar-content-internal-linking"]),
    .components-notice:has([href*="score-100-in-tests"]), // lien aide score 100
    .rank-math-help-icon // liens aide 
    { 
        display: none;
    }

    .rank-math-focus-keyword .tagify__input::before { content: "Mot-clé"; }
    .rank-math-focus-keyword .tagify__input:not(:only-child)::before { content: ""; }


    /*=====  FIN Rank Math  =====*/

    /*======================================
    =            Matomo widgets            =
    ======================================*/

    label[for="WP_Piwik-Widget-Browsers-hide"], #WP_Piwik-Widget-Browsers,
    label[for="WP_Piwik-Widget-BrowserDetails-hide"], #WP_Piwik-Widget-BrowserDetails,
    label[for="WP_Piwik-Widget-Screens-hide"], #WP_Piwik-Widget-Screens,
    label[for="WP_Piwik-Widget-Models-hide"], #WP_Piwik-Widget-Models,
    label[for="WP_Piwik-Widget-Systems-hide"], #WP_Piwik-Widget-Systems,
    label[for="WP_Piwik-Widget-SystemDetails-hide"], #WP_Piwik-Widget-SystemDetails,
    label[for="WP_Piwik-Widget-City-hide"], #WP_Piwik-Widget-City,
    label[for="WP_Piwik-Widget-Keywords-hide"], #WP_Piwik-Widget-Keywords,
    label[for="WP_Piwik-Widget-Plugins-hide"], #WP_Piwik-Widget-Plugins,
    label[for="WP_Piwik-Widget-Search-hide"], #WP_Piwik-Widget-Search
    {
        display: none;
    }


    /*=====  FIN Matomo widgets  =====*/

    /*==============================
    =            Profil            =
    ==============================*/
    
    // option Désactiver l’éditeur visuel pour écrire
    .user-rich-editing-wrap,
    // option Désactiver le surlignage syntaxique lors de l’édition de code 
    .user-syntax-highlighting-wrap,
    // option Activer les raccourcis clavier pour la modération de commentaires
    .user-comment-shortcuts-wrap,
    // champ Pseudonyme 
    .user-nickname-wrap,
    // champ Nom à afficher publiquement 
    .user-display-name-wrap,
    // champ Site web + rank math
    .user-email-wrap ~ *,
    // titre & champs À propos de vous
    #your-profile h2:nth-of-type(4),
    #your-profile table:nth-of-type(4),
    // mots de passe d'application
    .application-passwords
    {
        display: none !important;
    }
    
    
    /*=====  FIN Profil  =====*/

} // FIN .user-is-editor
